/* Navbar */
.navbar {
	background-color: #151515;
}
.navbar-item:hover > img{
	 content: url("../assets/package.png") 
}
.navbar-link {
	color: white;
}

/* Side Menu 151515 or 363636 */
.aside {
	background-color: #151515;
	margin-top: 0;
}
.aside .main {
	padding: 40px;
	color: #6F7B7E;
}
.aside .title {
	color: #6F7B7E;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.aside .main .item {
	display: block;
	padding: 10px 0;
	color: #c2c2c2;
}
.aside .main .item.active {
	color: #F6F7F7;
}
.aside .main .icon {
	font-size: 19px;
	padding-right: 30px;
}
.aside .main .name {
	font-size: 16px;
	font-weight: bold;
}